.app{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.body{
    flex:1;
}
.changeRouterUl{
    display:flex;
    height:44px;
    line-height: 44px;
    text-align: center;
    color:#999;
}
.changeRouterUl li{
    flex:1;
    display:flex;
}
.changeRouterUl li a{
    flex:1;
}
.navLinkActive{
    color:#31C27C;
}